<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_outperform"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_outperform_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.main_activity.attendance.EditLeaveRequestActivity"
            android:exported="false"
            android:label="@string/leave_request_label"
            android:theme="@style/Theme.Dashboard"/>
        <activity
            android:name=".ui.main_activity.attendance.DetailLeaveRequestActivitiy"
            android:exported="false"
            android:label="@string/leave_request_label"
            android:theme="@style/Theme.Dashboard" />
        <activity
            android:name=".ui.setting.changepassword.ActivityChangePassword"
            android:exported="false"
            android:label="@string/change_password"
            android:theme="@style/Theme.Dashboard" />
        <activity
            android:name=".ui.setting.editprofile.EditProfileActivity"
            android:exported="false"
            android:label="@string/edit_profile"
            android:theme="@style/Theme.Dashboard" />
        <activity
            android:name=".ui.main_activity.outlet.outletdetail.teamdetail.addstaffteam.ActivityAddStaffTeam"
            android:exported="false"
            android:label="@string/add_staff_label"
            android:theme="@style/Theme.Dashboard" />
        <activity
            android:name=".ui.main_activity.outlet.outletdetail.teamdetail.createtaskactivity.CreateTaskActivity"
            android:exported="false"
            android:label="@string/add_task_label"
            android:theme="@style/Theme.Dashboard" />
        <activity
            android:name=".ui.main_activity.outlet.outletdetail.addstaff.ActivityAddStaff"
            android:exported="false"
            android:label="@string/add_staff_label"
            android:theme="@style/Theme.Dashboard" />
        <activity
            android:name=".ui.main_activity.outlet.outletdetail.addteam.ActivityAddTeam"
            android:exported="false"
            android:label="@string/add_team_label"
            android:theme="@style/Theme.Dashboard" />
        <activity
            android:name=".ui.main_activity.outlet.CreateOutletActivity"
            android:exported="false"
            android:label="@string/outlet_create_label"
            android:theme="@style/Theme.Dashboard" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.main_activity.outlet.outletdetail.teamdetail.viewtaskactivity.ViewTaskActivity"
            android:exported="false"
            android:label="@string/taskEdit_label"
            android:theme="@style/Theme.Dashboard" />
        <activity
            android:name=".ui.main_activity.outlet.outletdetail.teamdetail.edittaskdirectory.EditTaskActivity"
            android:exported="false"
            android:label="@string/taskEdit_label"
            android:theme="@style/Theme.Dashboard" />
        <activity
            android:name=".ui.main_activity.outlet.outletdetail.teamdetail.DetailTeamActivity"
            android:exported="false"
            android:label="@string/team_label"
            android:theme="@style/Theme.Dashboard" />
        <activity
            android:name=".ui.main_activity.outlet.outletdetail.ActivityOutletDetail"
            android:exported="false"
            android:label="@string/title_outlet"
            android:theme="@style/Theme.Dashboard" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:exported="false"
            android:label="@string/notifications"
            android:theme="@style/Theme.Dashboard" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false"
            android:label="@string/settings"
            android:theme="@style/Theme.Dashboard" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="8126cf32e18c6c7f49a6d9f14f819a70" />

        <activity
            android:name=".ui.main_activity.ActivityMain"
            android:exported="true"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:scheme="outperform" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="true"
            android:theme="@style/Base.Theme._0utPerform" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Base.Theme._0utPerform">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.decidelogin.ActivityDecideLogin"
            android:exported="true"
            android:theme="@style/Base.Theme._0utPerform" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Base.Theme._0utPerform" />
    </application>

</manifest>